:root {
  --primary-color: rgb(12, 83, 190);
  --secondary-color: rgb(255, 255, 255);
  --background-color: #fff;
  --container-bg: ;
  --gostei-da-cor: #af4c96;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  background: #dedede;
  height: 100vh;
}

h1 {
  text-align: center;
  display: inline-block;
  font-size: 67px;
  text-transform: uppercase;
  font-weight: 300;
}
h3 {
  font-weight: 400;
  letter-spacing: 2px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  height: 100%;
  width: 100%;
  border-radius: 30px;
  transform: scale(0.7);
  overflow: hidden;
}
p {
  text-align: justify;
  padding: 0 32px;
}
.main-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  height: 95%;
  width: 95%;
  margin: 16px 32px;
  padding: 32px 64px;
  /* background-color: blueviolet; */
}
.card-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: rgb(242, 69, 69); */
}
.card-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center;
  /* background-color: aqua; */
  height: 100%;
  /*width: fit-content;*/
  width: 95%;
}
.btn-div {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 16px;
}
input {
  margin: 16px 8px;
  padding-left: 22px;
  padding-right: 22px;
  height: 48px;
  outline: none;
  border: 1px solid rgb(126, 126, 150);
  border-radius: 24px;
  font-size: 18px;
  width: 100%;
}
input:focus {
  border: 2px solid var(--primary-color);
}
input:hover {
  border: 2px solid var(--primary-color);
}
a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
  padding-left: 16px;
}
a:hover {
  text-decoration: underline;
}
.btn-primary {
  height: 48px;
  width: fit-content;
  padding: 4px 16px;
  margin: 8px 8px;
  font-size: 18px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
}
.btn-primary:hover {
  opacity: 0.9;
}
.btn-primary:active {
  opacity: 0.8;
}
.btn-secondary {
  height: 48px;
  width: fit-content;
  padding: 4px 16px;
  font-size: 18px;
  border: none;
  /* background-color: rgb(153, 165, 177);*/
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 30px;
  background: transparent;
  color: var(--primary-color);
  cursor: pointer;
}
.btn-secondary:hover {
  border: 2px solid var(--primary-color);
}
#log-img {
  height: 128px;
  width: 128px;
  margin: 16px;
}

.notification-container {
  background-color: #4caf50;
  color: white;
  margin: 22px 16px 0px 0px;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: none;

  align-items: center;
  justify-content: space-between;
  gap: 10px;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.notification-container.hide {
  opacity: 0;
  transform: translateY(-50px);
}
.notification-container.error {
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  display: flex;
  background-color: red;
}
.notification-container.info {
  display: flex;
  background-color: var(--primary-color);
}
.notification-container.success {
  display: flex;
  background-color: #4caf50;
}

.notification-container p {
  margin: 0;
  font-family: Arial, sans-serif;
}

@media screen and (max-width: 982px) {
  h1 {
    font-size: 32px;
  }
  h3 {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }
  .container {
    height: fit-content;
    transform: scale(70%);
  }
  .main-card {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .card-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #p-info {
    display: none;
  }
}
